header {
  display: flex;
  margin-top: 5px;
  padding-bottom: 10px;
}

.info-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 10px;
}

.info-bar_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.info-title {
  font-size: 30px;
  font-weight: bold;
}
